:root{
    --font-color: #270d0d;
    --black : #2c0b0b;
    --white: #FFFBFC;
    --red-1000: #490d09;
    --red-900: #63110D;
    --red-600: #741307;
    --red-300: #8d190a;
    --red-150: #9b5a52;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Cinzel", serif;
    background: var(--black) url("../image/hidden.png") no-repeat center fixed;
    background-blend-mode: darken;
}
/*barra de navegação*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--red-900);
}
.home{
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
}
.nav-ul{
    display: flex;
    list-style: none;
}
.nav-li .nav-a{
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
}
/*main*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-intro{
    padding: 15px;
    justify-content: center;
    text-align: center;
    color: var(--white);
}
.img-intro{
    width: 830px;
    height: 551.5px;
    padding: 10px;
}
.section-intro h1{
    font-size: 50px;
}
.section-intro h3{
    font-size: 25px;
    font-weight: bold;
}
/*login*/
.login-box{
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.box-text{
    padding: 10px;
    color: var(--white);
    text-align: center;
}
.box-text img{
    height: 292px;
    width: 498px;
}
.box-text h1{
    font-size: 30px;
    font-weight: bold;
}
.box-text h2{
    font-size: 22px;
    font-weight: normal;
}
.login-form{
    display: flex;
    flex-flow: column;
    justify-content: left;
    background-color: var(--red-1000);
    padding: 20px;
    border-radius: 15px;
    color: var(--white);
    max-width: 600px; 
    width: 100%;
}
.login-form h1{
    font-size: 40px; 
    padding-bottom: 20px;
}
.login-form label{
    font-size: 20px;
    font-weight: bold;
}
.login-form input{
    font-size: 15px;
    height: 35px;
    width: 100%;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    padding: 10px;
}
.login-form .btn{
    border-radius: 8px;
    border: none;
    color: var(--red-300);
    background-color: var(--white);
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    width: 100px;
    margin-top: 15px;
    align-self: center;
    transition: all 0.2s;
}
.login-form .btn:hover{
    background-color: var(--red-300);
    color: var(--white);
}
/*character and spell btn*/
.btns-section{
    text-align: center;
    padding: 10px;
    color: var(--white);
}
.btns-section h2{
    font-size: 30px;
    padding: 10px;
}
.img-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-desc1, .img-desc2{
    width: 680px;
}
.btns-section h1{
    font-size: 25px;
    padding: 5px;
    text-align: justify;
}
.btns-section h2{
    font-size: 30px;
    padding: 5px;
}
.btn-spellAndCaracter h3{
    font-size: 30px;
    padding: 5px;
}
.btn-spellAndCaracter{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-character, .btn-spell{
    margin: 10px;
    height: 40px;
    width: 151px;
    background-color: var(--red-300);
    border-style: none;
    border-radius: 11px;
    transition: all 0.2s;
}
.btn-character:hover{
    background-color: var(--red-1000);
}
.btn-spell:hover{
    background-color: var(--red-1000);
}
.btn-character a, .btn-spell a{
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
}
/*characters*/
.character-intro{
    color: var(--white);
    font-size: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.character-intro h1{
    font-size: 30px;
    text-align: left;
    padding: 10px;
}
.character-intro img{
    width: 500px;
    height: 339.5px;
}
.character-section{
    color: var(--white);
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
}
.character{
    display: inline;
    margin: 25px 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: var(--red-150);
}
.character:hover{
    color: var(--white);
}
.character img{
    width: 295px;
    height: 390px;
}
/*spell*/
.spell-intro{
    color: var(--white);
    font-size: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spell-intro h1{
    font-size: 35px;
    text-align: left;
    padding: 5px;
}
.spell-intro img{
    width: 540px;
    height: 299.5px;
}
.search{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search label{
    color: var(--white);
    font-size: 30px;
    font-weight: bold;
}
.search input{
    width: 333px;
    height: 30px;
    border-radius: 8px;
    padding: 5px;
}
.search button{
    height: 27px;
    width: 100px;
    margin: 8px;
    border-radius: 15px;
    color: var(--red-900);
    background-color: var(--white);
    border-style: none;
}
.search button:hover{
    color: var(--white);
    background-color: var(--red-600);
}
.spells-section{
    margin: 30px;
    padding: 15px;
    color: var(--red-150);
    background-color: var(--red-1000);
    border-radius: 30px;
    font-size: 15px;
}
.spells-section:hover{
    color: var(--white);
}
.img-spells{
    margin: auto;
    display: block;
    padding: 15px;
    width: 625px;
}
/*footer*/
.footer {
    background-color: var(--red-900);
    color: var(--red-150);
    text-align: center;
    font-weight: bold;
    padding: 8px;
    position: relative;
    font-size: 10px;
}
/*responsividade*/
@media screen and (max-width: 900px) {
    .img-intro{
        width: 600px;
        height: 401px;
    }
    .section-intro h1{
        font-size: 44px;
    }
    .section-intro h3{
        font-size: 20px;
    }
    .img-desc1, .img-desc2{
        width: 500px;
    }
    .btns-section h1{
        font-size: 15px;
    }
    .btns-section h2{
        font-size: 25px;
    }
    .btn-spellAndCaracter h3{
        font-size: 20px;
    }
    .btn-character a, .btn-spell a{
        font-size: 20px;
    }
    .character-intro h1{
        font-size: 22px;
    }
    .character-intro img{
        width: 350px;
        height: 259.5px;
    }
    .character{
        font-size: 15px;
    }
    .character img{
        width: 215px;
        height: 290px;
    }
    .spell-intro h1{
        font-size: 25px;
    }
    .spell-intro img{
        width: 440px;
        height: 199.5px;
    }
    .search label{
        font-size: 25px;
    }
    .search input{
        width: 300px;
        height: 25px;
    }
    .search button{
        height: 20px;
        width: 100px;
    }
    .img-spells{
        width: 505px;
    }
    .spells-section{
        font-size: 13px;
    }
    .box-text img{
        height: 282px;
        width: 458px;
    }
    .box-text h1{
        font-size: 25px;
    }
    .box-text h2{
        font-size: 18px;
    }
    .login-form{
        max-width: 450px; 
    }
    .login-form h1{
        font-size: 30px; 
    }
    .login-form label{
        font-size: 15px;
    }
    .login-form input{
        font-size: 15px;
    }
    .login-form .btn{
        font-size: 17px;
    }
}
@media screen and (max-width: 700px) {
    .home{
        font-size: 15px;
    }
    .nav-li .nav-a{
        font-size: 15px;
    }
    .img-intro{
        width: 440px;
        height: 300px;
    }
    .section-intro h1{
        font-size: 30px;
    }
    .section-intro h3{
        font-size: 18px;
    }
    .img-desc1, .img-desc2{
        width: 270px;
    }
    .img-desc{
        flex-direction: row;
    }
    .btns-section h1{
        font-size: 15px;
    }
    .btns-section h2{
        font-size: 18px;
    }
    .btn-spellAndCaracter h3{
        font-size: 17px;
    }
    .btn-character a, .btn-spell a{
        font-size: 15px;
    }
    .btn-character, .btn-spell{
        height: 35px;
        width: 125px;
    }
    .character-intro h1{
        font-size: 18px;
    }
    .character-intro img{
        width: 330px;
        height: 209.5px;
    }
    .character{
        font-size: 15px;
    }
    .character img{
        width: 185px;
        height: 250px;
    }
    .spell-intro h1{
        font-size: 18px;
    }
    .spell-intro img{
        width: 400px;
        height: 159px;
    }
    .search label{
        font-size: 21px;
    }
    .spells-section{
        font-size: 11px;
    }
    .img-spells{
        width:425px;
    }
    .box-text img{
        height: 242px;
        width: 398px;
    }
    .box-text h1{
        font-size: 25px;
    }
    .box-text h2{
        font-size: 18px;
    }
    .login-form{
        max-width: 400px; 
    }
    .login-box{
        height: 150vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .box-text{
        padding: 10px;
        color: var(--white);
        text-align: center;
    }
    .box-text img{
        height: 292px;
        width: 498px;
    }
    .box-text h1{
        font-size: 30px;
        font-weight: bold;
    }
    .box-text h2{
        font-size: 22px;
        font-weight: normal;
    }
}
@media screen and (max-width: 500px) {
    .home{
        font-size: 13px;
    }
    .nav-li .nav-a{
        font-size: 13px;
    }
    .img-intro{
        width: 380px;
        height: 260px;
    }
    .section-intro h1{
        font-size: 27px;
    }
    .section-intro h3{
        font-size: 13px;
    }
    .img-desc1, .img-desc2{
        width: 200px;
    }
    .img-desc{
        flex-direction: row;
    }
    .btns-section h1{
        font-size: 12px;
    }
    .btns-section h2{
        font-size: 15px;
    }
    .btn-spellAndCaracter h3{
        font-size: 13px;
    }
    .btn-character a, .btn-spell a{
        font-size: 11px;
    }
    .btn-character, .btn-spell{
        height: 25px;
        width: 105px;
    }
    .character-intro h1{
        font-size: 13px;
    }
    .character-intro img{
        width: 220px;
        height: 120px;
    }
    .character-section{
        grid-template-columns: 1fr;
    }
    .character{
        font-size: 13px;
    }
    .character img{
        width: 135px;
        height: 180px;
    }
    .spell-intro h1{
        font-size: 13px;
    }
    .spell-intro img{
        width: 350px;
        height: 159px;
    }
    .search label{
        font-size: 18px;
    }
    .search input{
        width: 290px;
        height: 23px;
    }
    .search button{
        height: 18px;
        width: 100px;
    }
    .spells-section{
        font-size: 10px;
    }
    .img-spells{
        width:355px;
    }
    .box-text img{
        height: 202px;
        width: 338px;
    }
    .box-text h1{
        font-size: 20px;
    }
    .box-text h2{
        font-size: 15px;
    }
    .login-form{
        max-width: 350px; 
    }
    .login-form h1{
        font-size: 25px; 
    }
    .login-form label{
        font-size: 13px;
    }
    .login-form input{
        font-size: 13px;
    }
    .login-form .btn{
        font-size: 14px;
    }
}